@import '../styles/custom-media.css';
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.206/distr/fira_code.css);

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 2em;
  }
}

h1 {
    font-family: 'Fira Code', monospace;
}
